.App {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
p {
    font-size: 15px;
}
a {
    text-decoration: none;
}
.topnavbar {
  height: 86px !important;
    overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}
.header-container a:hover, a:visited{
    color:black;
    text-decoration: none;
}
.header-container {
  display:block;
  width:100%;
  margin: 0 auto;
  height:100%;
}
.header-nav-center {
    display: block;
    height: 100%;
    min-width: 200px;
}
.header-nav-right {
    position: fixed;
    right: 0;
    top:0;
    float: right;
    margin-right: 20px;
    font-size: 13px;
}
.header-text-span {
  display: inline-block;
  padding: 34px 10px 32px;
}
.header-text {
    letter-spacing: 3px;
    font-size: 18px;
}

.full-background-image {
    height: 600px;
    background: url('./yosemite_main.jpg') no-repeat center center fixed;
    background-size: cover;
}
.vert-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.overlay-title {
    margin: 0;
    font-size: 60px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}
.main-section {
    padding: 60px 0;
}
.about-me-section h1, .about-me-section p, .about-me-section h5{
    text-align:left;
}
.about-me-top-hr {
    color: #C26868;
    height: 2px;
    background-color: #C26868;
    border: 0 none;
    width: 60px;
    margin-left: 0;
}
.about-me-section {
    background-color: #FBFBFC;
}
.projects-section {
    background-color: #ffffff;
}
.left-align-wrapper {
    display:block;
    text-align:left;
    width:100%;
}
.small-header{
    font-size: 15px;
    color: #878787;
    padding: 40px 0 0 0;
    text-align:left;
}
.title {
    font-size: 18px;
    margin-bottom:5px;
    font-weight: 700;
}
.sub {
    margin:5px 0;
    font-size: 14px;
}
.right {
    text-align:right;
    font-size: 14px;
}
.max-width {
    width:100%;
}
.project {
    padding: 30px 0;
}
.skill {
    font-size:12px;
    padding:5px 13px;
    border-radius: 6px;
    border: 1px solid #2fa5df;
    float:left;
    margin: 6px 6px;
}
.project-img-wrapper {
    max-width: 500px;
    margin: 0 auto;
}
.other-projects-list {
    padding: 5px 0;
}

.skill-type {
    padding: 20px 10px 20px 13px;
    transition: text-shadow 0.25s linear;
    margin: 0 12px 0 0;
    line-height: 100%;
    font-size: 25px;

}
.skill-list {
}
.skill-detail {
    border-top: 1px solid #C26868;
    padding: 20px 0;
}


@media only screen and (max-width: 576px) {
    #work-location {
        display:none;
    }
    .col-3{
        padding-left: 0 !important;
    }
    .skill-wrapper {
        border-right: 0px;
    }

}
@media only screen and (max-width: 976px) {
    #skill-br {
        display:none;
    }
}
@media only screen and (min-width: 993px) {
    .skill-wrapper {
        border-right: 1px solid #C26868;
    }
    .skill-type-section {
        padding: 20px 0;
    }

}
@media only screen and (max-width: 1193px) {

}
