.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;

}
a {
    text-decoration: none;
}
.topnavbar {
  height: 86px !important;
    overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}
.header-container a:hover, a:visited{
    color:black;
    text-decoration: none;
}
.header-container {
  display:block;
  width:100%;
  margin: 0 auto;
  height:100%;
}
.header-nav-center {
    display: block;
    height: 100%;
    min-width: 200px;
}
.header-nav-right {
    position: fixed;
    right: 0;
    top:0;
    float: right;
    margin-right: 20px;
    font-size: 13px;
}
.header-text-span {
  display: inline-block;
  padding: 34px 10px 32px;
}
.header-text {
    letter-spacing: 3px;
    font-size: 18px;
}

.full-background-image {
    height: 600px;
    background: url('./yosemite_main.jpg') no-repeat center center fixed;
    background-size: cover;
}
.vert-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.overlay-title {
    margin: 0;
    font-size: 45px;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
}
.about-me-section h4 {
    margin: 50px 0;
    font-size: 18px;
}